// TESTIMONIALS

.sp-testimonial-free-wrapper {
  background: rgba($color: #fff, $alpha: 0.4);
}

.sp-testimonial-free {
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  justify-content: center !important;
  height: 100% !important;
  vertical-align: middle !important;
}
